<main role="main" class="container">
    <div class="jumbotron">
      <h1>Home</h1>
      <p class="lead">
          Leading Reseachers Information
      </p>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Full Name</th>
            <th scope="col">Qualification</th>
            <th scope="col">Number of Publication</th>
            <th scope="col">Email Address</th>
            <th scope="col">Phone Number</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark Stones</td>
            <td>Professor (Full)</td>
            <td>1234</td>
            <td>markstones@yahoomail.com</td>
            <td>+2347056798754</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob Jakes</td>
            <td>Reader</td>
            <td>890</td>
            <td>jacobjakes@gmail.com</td>
            <td>+2349034567799</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Luke Imix</td>
            <td>Doctorate</td>
            <td>670</td>
            <td>lukeimi@gmail.com</td>
            <td>+2349456767799</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Wulex Felix</td>
            <td>Doctorate</td>
            <td>660</td>
            <td>wulexfelix@gmail.com</td>
            <td>+23494578120974</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Tolu Love</td>
            <td>Masters</td>
            <td>34</td>
            <td>love123@yahoo.com</td>
            <td>+23470567820974</td>
          </tr>
        </tbody>
      </table>
      
    </div>
  </main>
