<div class="container">
  <div class="row">
    <div class="col-md-12">
        <h4 class="mt-5 font-weight-bold text-center">Reseachers Statistics</h4>
    </div>
  </div>
  <div class="row mt-3 pt-3" style="background-color: #eeeeee">
    <div class="col-md-6">
      <!-- Card group -->
      <div class="card-group">

        <!-- Card -->
        <div class="card mb-4">

          <!-- Card content -->
          <div class="card-body">

            <!-- Title -->
            <h6 class="card-title">Likes:</h6>
            <!-- Text -->
            
            
            <p class="card-text blue-text"><i class="fas fa-thumbs-up fa-2x"></i><span class="ml-2" style="font-size: 30px;">987</span>,654</p>

          </div>
          <!-- Card content -->

        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-4">

          <!-- Card content -->
          <div class="card-body">
            <!-- Title -->
            <h6 class="card-title">Unlikes: </h6>
            <!-- Text -->
            <p class="card-text red-text"><i class="fas fa-thumbs-down fa-2x"></i><span class="ml-2" style="font-size: 30px;">123</span>,456</p>
          </div>
          <!-- Card content -->

        </div>
        <!-- Card -->

      </div>
      <!-- Card group -->
    </div>

    

    <div class="col-md-6">
        <!-- Card group -->
        <div class="card-group">

          <!-- Card -->
          <div class="card mb-4">

            <!-- Card content -->
            <div class="card-body">

              <!-- Title -->
              <h6 class="card-title">Growth:</h6>
              <!-- Text -->
              
              
              <p class="card-text green-text"><i class="fas fa-angle-double-up fa-2x"></i><span class="ml-2" style="font-size: 30px;">765</span>,19%</p>

            </div>
            <!-- Card content -->

          </div>
          <!-- Card -->

          <!-- Card -->
          <div class="card mb-4">

            <!-- Card content -->
            <div class="card-body">
              <!-- Title -->
              <h6 class="card-title">Drop: </h6>
              <!-- Text -->
              <p class="card-text red-text"><i class="fas fa-angle-double-down fa-2x"></i><span class="ml-2" style="font-size: 30px;">567</span>,91%</p>
            </div>
            <!-- Card content -->

          </div>
          <!-- Card -->

        </div>
        <!-- Card group -->
      </div>
  </div>
</div>